@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

.gallery-info {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 0 auto; 
    max-width: 80%;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 32px;
    padding-right: 32px;
}

.gallery-title {
    font-size: 3rem;
    font-family: 'Gotham Black';
    font-weight: 800;
    text-align: center; 
    width: 100%;
    margin: 0 auto; 
}

.gallery-info-description {
    flex-basis: 100%; 
    margin-top: 0.5rem; 
}

.gallery-info-description p {
    font-family: 'Gotham Book';
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    text-align: justify;
    margin-bottom: 16px; 
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 16px;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    max-width: 80%;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 32px;
    padding-right: 32px;
  }
  
  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo-container img {
    width: 100%;
    max-width: 200px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}


  .logo-container img:hover {
    transform: scale(1.1);
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #f3e1c7;
    padding: 32px;
    border-radius: 4px;
    position: relative;
    max-width: 800px;
    max-height: 80%;
    overflow: auto;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-header h2 {
    margin: 0;
    font-family: 'Gotham Black';
    font-weight: 800;
  }

  .modal-header button {
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    border: none;
  }

  .modal-header button i {
    font-size: 20px;
  }

  .modal-header button i:hover {
    color: #ff9900;
  }
  
  .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
  }
  
  .modal-body img {
    width: 100%;
    height: auto;
    max-width: 100%; 
    max-height: 80vh;
    object-fit: contain;
  }

  .modal-body img:hover {
    transform: none;
  }
  
  
  .prev,
  .next {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
    padding: 8px;
  }
  
  .prev:hover,
  .next:hover {
    color: #ff9900;
  }

  .gallery-info-final {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 0 auto; 
    max-width: 80%;
    padding-bottom: 64px;
    padding-left: 32px;
    padding-right: 32px;
}

.gallery-info-description-final p {
    font-family: 'Gotham Book';
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    text-align: justify;
    margin-bottom: 16px; 
}

@media screen and (min-width: 901px) and (max-width: 1024px) {
    .gallery-info, 
    .gallery-info-final
    {
        max-width: 80%;
    }

    .gallery-title {
        font-size: 2.5rem;
    }

} 

  @media screen and (max-width: 900px) { 
    .gallery-info, 
    .gallery-info-final
    {
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .gallery-info-final,
    .gallery-container
     {
        padding-top: 8%;
        padding-bottom: 8%;
      }
  
      .gallery-title {
          font-size: 2.2rem;
      }

      .gallery-info-description p,
      .gallery-info-description-final p
      {
         font-size: 0.8rem;
     }

     .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 500px) {
    
    .gallery-info
     {
        padding-bottom: 0;
      }

      .gallery-container {
        grid-template-columns: 1fr;
    }

    .gallery-title {
        font-size: 2rem;
    }
      .gallery-info-description p,
      .gallery-info-description-final p
      {
         font-size: 0.7rem;
     }

      .logo-container img {
        width: 70%
      }
 
   }